.Home__Link {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  line-height: 100px;
  font-size: 50px;
  background: rgb(50, 180, 230);
}

.Home__Link:hover {
  background: rgb(255, 10, 10);
}

.Logo_spin {
  animation: Logo-spin infinite 20s linear;
}

@keyframes Logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ReactLogo {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
}

.RouterLogo {
  position: absolute;
  top: 160px;
  right: 80px;
  height: 70px;
}

.ReduxLogo {
  position: absolute;
  top: 145px;
  left: 80px;
  height: 100px;
}

.SocketLogo {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  height: 80px;
}

.NodeJsLogo {
  position: absolute;
  top: 255px;
  right: 300px;
  height: 100px
}

.ExpressLogo {
  position: absolute;
  top: 275px;
  left: 280px;
  height: 50px;
}
